<div class="col-md-8 col-md-offset-2">
    <h1>Welcome, {{currentUser}}!</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Active chat rooms:</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="room in rooms">
                    <!-- rooms[room].banned[currentUser] !== undefined -->
                    <!--<div ng-show="rooms[room].banned[currentUser] === undefined">-->
                        <span class="badge pull-right">{{ room.topic }}heh</span>
                        <a ng-href="#/room/{{currentUser}}/{{room}}">{{ room }}</a>
                    <!--</div>-->
                </li>
            </ul>
            <!--<button type="button" class="btn btn-primary" ng-click="go('/rooms/{{currentUser}}/newroom')" ng-click="newRoom()">Create a new room</button> -->
            <button type="button" class="btn btn-primary" ng-click="newRoom()">Create a new room</button>
        </div>
    </div>
</div>
