<div class="col-md-12 col-md-offset-1">
    <div class="col-md-7">
        <h1>Room {{ roomID }}!</h1>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Chat:</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="message in messages">
                    <span class="badge">{{ message.nick }}</span>
                    {{ message.message }}
                    </li>
                </ul>
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMsg" name="inputMsg" ng-model="inputMsg" ng-keyup="$event.keyCode == 13 && sendMsg()" placeholder="Write a message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="sendMsg()">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Roommates:</div>
            <div class="panel-body">
                <input class="form-control" ng-model="query" placeholder="Search mates...">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="op in roomops | filter:query"><span class="label label-warning  pull-left"><span class="glyphicon glyphicon-star"></span></span>  {{ op }}</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="mate in roommates | filter:query">
                    {{ mate }}
                    <div class="pull-right">
                        <button type="button" data-toggle="modal" data-target=".pm_modal" class="btn btn-info btn-xs" ng-click="set_recipient(mate)"><span class="glyphicon glyphicon-envelope"></span></button>
                        <button type="button" class="btn btn-success btn-xs" ng-click="promote(mate)">Promote</button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="kick(mate)">Kick</button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="ban()">Ban</button>
                    </div>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary" ng-click="leave()">Leave room</button>
            </div>
        </div>
    </div>

    <div class="modal fade pm_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">Private Message to :  {{ msg_recipient }}</div>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="inputPrvtMsg" ng-keyup="$event.keyCode == 13 && prvt_msg()" placeholder="message text...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-toggle="modal" data-target=".pm_modal"  ng-click="prvt_msg(msg_recipient)" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
