<div class="col-md-8 col-md-offset-2">
    <h1>Welcome, {{currentUser}}!</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Active chat rooms:</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="room in rooms" ng-if="roomObj[room].banned[currentUser] === undefined">
                    <div>
                        <span class="badge pull-right">{{ roomObj[room].topic }}</span>
                        <a ng-href="#/room/{{currentUser}}/{{room}}">{{ room }}</a>
                    </div>
                </li>
            </ul>
            <!--<button type="button" class="btn btn-primary" ng-click="go('/rooms/{{currentUser}}/newroom')" ng-click="newRoom()">Create a new room</button> -->
            <button type="button" class="btn btn-primary" ng-click="newRoom()">Create a new room</button>
        </div>
    </div>
</div>
